<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title><%= brand[0].brand_name %></title>
    </head>
    <body>
        <div class="container">
            <div class="nav-container">
                <%- include('navbar', { links: links }) %>
            </div>
            <div class="content-container">
                <h1><%= brand[0].brand_name %></h1>
                <%- include("partials/errors.ejs") %> 
                <% if (brand[0].item_id !== null) { %>
                    <div class="list-container">
                        <ul>
                            <% brand.forEach(item => { %>
                                <li><a href="/items/<%= item.item_id %>"><%= item.item_name %></a></li>
                            <% }); %>
                        </ul>
                    </div>
                <% } else { %>
                    <div class="empty-list">No items to show</div>
                <% } %>
                <br>
                <div class="operation-links">
                    <div><a href="/brands/<%= brand[0].id %>/update">Update Brand</a></div>
                    <div><a href="/brands/<%= brand[0].id %>/delete">Delete Brand</a></div>
                    <div><a href="/brands">Back to Brand List</a></div>
                </div>
            </div>
        </div>
    </body>
</html>