<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title><%= category[0].category_name %></title>
    </head>
    <body>
        <div class="container">
            <div class="nav-container">
                <%- include('navbar', { links: links }) %>
            </div>
            <div class="content-container">
                <h1><%= category[0].category_name %></h1>
                <%- include("partials/errors.ejs") %>
                <p><%= category[0].category_description %></p>
                <% if (category[0].item_id !== null) { %>
                    <div class="list-container">
                        <ul>
                            <% category.forEach(item => { %>
                                <li><a href="/items/<%= item.item_id %>"><%= item.brand_name %> <%= item.item_name %></a></li>
                            <% }); %>
                        </ul>
                    </div>
                <% } else { %>
                    <div class="empty-list">No items to show</div>
                <% } %>
                <br>
                <div class="operation-links">
                    <div><a href="/categories/<%= category[0].id %>/update">Update Category</a></div>
                    <div><a href="/categories/<%= category[0].id %>/delete">Delete Category</a></div>
                    <div><a href="/categories">Back to Category List</a></div>
                </div>
            </div>
        </div>
    </body>
</html>