<!DOCTYPE html>
<html>
    <head>
        <title><%= item[0].item_name %></title>
        <link rel="stylesheet" href="/stylesheets/styles.css">
    </head>
    <body>
        <div class="container">
            <div class="nav-container">
                <%- include('navbar', { links: links }) %>
            </div>
            <div class="content-container item-display">
                <h1><%= item[0].item_name %></h1>
                <img class="item-photo" src="<%= item[0].img_url %>">
                <ul>
                    <li><b>Brand</b>: <a href="/brands/<%= item[0].brand_id %>"><%= item[0].brand_name %></a></li>
                    <li><b>Description</b>: <%= item[0].item_description %></li>
                    <li><b>Category</b>: <a href="/categories/<%= item[0].category_id %>"><%= item[0].category_name %></a></li>
                    <li><b>Price</b>: $<%= item[0].price %></li>
                </ul>
                <div><a href="/items/<%= item[0].item_id %>/update">Update Item</a></div>
                <div><a href="/items/<%= item[0].item_id %>/delete">Delete Item</a></div>
                <div><a href="/items">Item List</a></div>
            </div>
        </div>
    </body>
</html>